.navbar {
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 8px 16px;
    height: min-content;
    flex-wrap: wrap;
    gap: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.pages {
    display: flex;
    gap: 4px;
}

.pages>a>span {
    display: flex;
    gap: 8px;
    padding: 0 8px;
    align-items: center;
    border-radius: 12px;
}

.social {
    gap: 8px;
}

.social>a {
    padding: 8px;
}

.social>a:focus,
.social>a:hover {
    background-color: var(--chakra-colors-whiteAlpha-200);
}

.social>a:active {
    background-color: var(--chakra-colors-whiteAlpha-400);
}

.social>a>svg,
.pages>a>span>svg {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}