.container {
    width: 80%;
    border-radius: 15px;
    margin: auto;
    justify-content: space-between;
}

.page {
    border-radius: 15px;
    width: 70%;
    padding: 20px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}